<nav>
    <div class="company-icon">
        <img src="https://d144mzi0q5mijx.cloudfront.net/img/C/O/community.png" alt="">
    </div>
    <div class="info">
        <a href="">Hello, {{userName}}</a>
        <a href="/question">Add a question</a>
        <a href="/logout">Logout</a>
    </div>
</nav>